body{
  display: flex;
  justify-content: center;
  background-color: #08b395;
}
.card{

  width: 400px;
  height: 700px;
  border-radius: 30px;
  background-color: #ff2100;
  padding: 9px;
}
#buscador{

  width: 40%;
  border-radius: 3px;
  background-color: aqua;
  height: 30px;
  opacity: 90%;
}